<%- include(`./partials/top-part.html`) %>
<h1>Dormitorios</h1>
<div class="t2">Dormitorio cutre</div>
<center><img class="dados" src="/assets/dormitorios/cutre.png"></center>
<p>Lorem ipsum</p>
<div class="t2">Dormitorio sencillo</div>
<center><img class="dados" src="/assets/dormitorios/sencillo.png"></center>
<p>Lorem ipsum</p>
<div class="t2">Dormitorio lujoso</div>
<p>Lorem ipsum</p>
<div class="t2">Dormitorio VIP</div>
<center><img class="dados" src="/assets/dormitorios/vip.jpg"></center>
<p>Lorem ipsum</p>

<!-- a -->
<%- include(`./partials/bot-part.html`) %>

