<%- include(`./partials/top-part.html`) %>
<h1>Creando al personaje</h1>
<div class="t2">Amparo</div><br>
<p>El amparo define el vínculo con alguno de <b>los 4 centinelas: El aventurero, el crítico, el sutil o el observador.</b></p>
    <p>El rector parece ser capaz de detectar la elección de estos centinelas hicieron en cada persona de Narysium y es por ello que ha hecho una clasificación de sus estudiantes en <b>4 clanes: Zanark, Orion, Cetus y Eridan.</b></p>
<p>Desde hace un tiempo, el rector ha perdido facultades para detectar ese vínculo y acabó considerando que los nuevos integrantes a la academia comenzarían su primer periodo <b>sin un clan específico.</b> Estos son los designados como <b>Ignotos.</b></p>
<p><center>❃ ❃ ❃</center></p>
<p>Una vez acabada la ficha y sea revisada por la administración, <b>les daremos a elegir una serie de atributos de entre una lista: Esto determinará el vínculo</b> con alguno de los 4 centinelas, aunque el primer mes se permanezca sin un clan, siendo un Ignoto.</p>
<p>En la academia de Naryisum no se tolera la vagueza, ni que la gente venga buscando un sitio donde hospedarse de forma gratuita, por ello, aquellos que no asistan a ninguna clase o no se les vea el pelo por los alrededores de la academia por mucho tiempo acabarán siendo desvinculados de su clan y designados como Ignotos.</p>
<p>Los ignotos. Además de disponer una habitación cutre para su dormitorio, no tienen una sala común.</p>
<p>No necesitan poner el amparo en la ficha. De hecho, más bien se les recomienda ponerlo en alguna parte del perfil que pueda ser editado de forma cómoda para los casos en los que varíe, que no será frecuente, pero será mejor para ustedes.</p>

<div class="t2">La ficha</div><br>
Esto será una guía resumida de lo que deberá reflejar tu ficha como mínimo para ser aceptada. Sin embargo siempre puedes añadir más información de la indicada, ya sea raza, orientación sexual, etc, eso ya depende de cada quién.
<br><br><b>— Nombre y Edad</b>
<br><b>— Origen</b>: De otro mundo o de alguna región de Nerysium. 
<br><b>— Rango</b>: Tu rango de maestría dentro de la academia. Si eres profesor especificar materia que imparte <br>
<br><b>— Troncal</b>: Elegir entre asginatura de simpatismo o asignatura de hechicería (explicados en el mapa)
<br><b>— Materias favoritas</b>: (Sólo si eres alumno) Escoger 4. Son las asignaturas cuyas clases tu personaje no se perdería por nada del mundo.

<!--<ul>
    <li>El aventurero (Zanark)</li>
    <li>El crítico (Orion)</li>
    <li>El sutil (Cetus)</li>
    <li>El observador (Eridan)</li>
</ul>-->
<br><br>

<br><br><b>— Virtudes</b>: Aquello en lo que brillan, tanto en personalidad como en habilidades. 
<br><b>— Defectos</b>: No abusar de defectos en la personalidad, incluir debilidades o campos que no manejen del todo bien 

<br><br>
<i>Puedes poner tantas virtudes como quieras, pero por cada una que añadas se debe elegir un defecto.</i>

<br><br><b>— Personalidad</b> (opcional)
<br><b>— Trasfondo</b> (opcional)

<br><br>
<i>Aunque estas dos últimas sean opcionales es recomendable que tengas planteado incluirlas a la larga para conectar tu personaje mejor con la ambientación.</i>

<div class="t2">Censo</div><br>
Para tener una variedad dentro del fake controlamos que si existen muchos integrantes de un arqutipo no se abuse de este, por ello abrimos o cerramos rangos y clanes dependiendo de como esté el censo del mismo. Siempre decimos que queremos dar libertad, por ello seremos menos exigentes con el tema de los clanes, pero si que iremos cambiando más a menudo el tema de los rangos.
<br><br>
<center><a href="https://docs.google.com/document/d/1RysqIqJYUT2qoFJD90A-DSgoXLhAwEYn1SvlXrFVXaQ/edit?usp=sharing"><div class="button">Censo</div></a></center><br>

<%- include(`./partials/bot-part.html`) %>

