<%- include(`./partials/top-part.html`) %>
<h1>Guías</h1>
<div class="t2">Organizar clases</div>
    <br><br><p>
        Para organizar clases cada profesor debe iniciar un nuevo twit con un formato como el siguiente:
        
        <code>CLASE DE HERBOLOGÍA
        <br><br>
            Fecha - 25 de Septiembre
            <br>Hora  - 17:30 (+00:00)
            <br>Hashtag - #ClassHerbNSR
        <br><br>
        Responde debajo si planeas asistir ese día.
        </code>

        La idea es que cada miembro del fake que tenga intención de participar en la actividad elaborada por los profesores responda a dicho twit. La cuenta madre siempre citará el encabezado de esos hilos y los colgará del fijado para que todo el mundo pueda estar al tanto de clases que se hayan programado.
        <br><br>
        Cada profesor puede hacer una lista de twitter con los miembros que decidan participar para que puedan tener una tl propia dedicada, esto es opcional, pero se recomienda.
        <br><br>
        Lo que si deben hacer es, cuando comience la actividad, utilizar el hashtag para rolear dicha actividad, por ejemplo.
        <code>#ClassHerbNSR
            <br><br>
                Andaba distraído sin prestar demasiada antención a las indicaciones del profesor mientras nos guiaba por el bosque.
            <br><br>
            </code>

        <br><i>Tratad de no hacer coincidir fechas para clases con las tramas globales del fake.</i>
    </p>
<br><br>
<div class="t2">Tirar dados</div>
<br>
<p>
    Esto es una guía básica para el uso de los comando de los dados al mencionar a la cuenta de activades. Antes que nada, <b style="color: red">importantísimo:</b> A veces el servidor que se encarga de lanzar dados se queda en reposo cuando pasa un tiempo que no es usa por eso, la primera vez que vayan a lanzar un dado en el día, antes de nada debéis de entrar en esta página: 
    <br><br>
    <a href="https://narysium-act.herokuapp.com/">https://narysium-act.herokuapp.com/</a>
    <br><br>
    Dicha página también esta en el perfil de la cuenta de actividades. Ahora, una vez explicado todo esto, comencemos con el uso del comando.
    <br><br>
    Lo primero, para activar la llamada de un dado se debe mencionar a la cuenta de actividades (@narysiumact) con el comando <b>!r</b>
    <br><br>
    Se pueden hacer 3 tipos de tirada:
    <ul>
        <li>Tirada ventajosa</li>
        <li>Tirada en desventaja</li>
        <li>Tirada normal</li>
    </ul>
    Pero de momento olvidémonos de todo esto. En primer lugar, imagina que quieres tirar 2 dados de 20 caras, o 1 dado de 8 caras, pues dichas tiradas se harían de la siguiente manera.
    <img src="/assets/dads/ej-dados-1.png">
</p>
<!-- a -->
<%- include(`./partials/bot-part.html`) %>

