<%- include(`./partials/top-part.html`) %>
<h1>Guías</h1>
<div class="t2">Organizar clases</div>
    <br><br><b>
        Para organizar clases cada profesor debe iniciar un nuevo twit con un formato como el siguiente:
        <br><br>
        <code>CLASE DE HERBOLOGÍA
        <br><br>
            Fecha - 25 de Septiembre
            Hora  - 17:30 (+00:00)
        <br><br>
        Responde debajo con "Asistiré" si planeas participar ese día.
        </code>
        
        La cuenta madre siempre citará el encabezado de esos hilos y los colgará del fijado para que todo el mundo pueda estar al tanto de clases que se hayan programado.
    </b>
<br><br>

 
<%- include(`./partials/bot-part.html`) %>

