<%- include(`./partials/top-part.html`) %>
<h1>Guías</h1>
<div class="t2">Organizar clases</div>
    <br><br><p>
        Para organizar clases cada profesor debe iniciar un nuevo twit con un formato como el siguiente:
        
        <code>CLASE DE HERBOLOGÍA
        <br><br>
            Fecha - 25 de Septiembre
            <br>Hora  - 17:30 (+00:00)
            <br>Hashtag - #ClassHerbNSR
        <br><br>
        Responde debajo si planeas asistir ese día.
        </code>

        La idea es que cada miembro del fake que tenga intención de participar en la actividad elaborada por los profesores responda a dicho twit. La cuenta madre siempre citará el encabezado de esos hilos y los colgará del fijado para que todo el mundo pueda estar al tanto de clases que se hayan programado.
        <br><br>
        Cada profesor puede hacer una lista de twitter con los miembros que decidan participar para que puedan tener una tl propia dedicada, esto es opcional, pero se recomienda.
        <br><br>
        Lo que si deben hacer es, cuando comience la actividad, utilizar el hashtag para rolear dicha actividad, por ejemplo.
        <code>#ClassHerbNSR
            <br><br>
                Andaba distraído sin prestar demasiada antención a las indicaciones del profesor mientras nos guiaba por el bosque.
            <br><br>
            </code>

        <br><i>Tratad de no hacer coincidir fechas para clases con las tramas globales del fake.</i>
    </p>
<br><br>
<div class="t2">Tirar dados</div>
<br>
<p>
    Esto es una guía básica para el uso de los comando de los dados. 
    <br><br>
    Lo primero, para activar la llamada de un dado se debe mencionar a la cuenta de actividades (@narysiumact) con el comando <b>!r</b>
    <br><br>
    Se pueden hacer 3 tipos de tirada:
    <ul>
        <li>Tirada ventajosa</li>
        <li>Tirada en desventaja</li>
        <li>Tirada normal</li>
    </ul>
    Pero de momento olvidémonos de todo esto. En primer lugar, imagina que quieres tirar 2 dados de 20 caras, o 1 dado de 8 caras, pues dichas tiradas se harían de la siguiente manera.
    <center><img class="dados" src="/assets/dados/ej-dados-1.png"></center>
    Pero además puedes hacer más cosas con los dados que sólo tirar una cantidad de ellos, y es que si tiras varios puedes hacer que el resultado generado sea el mayor de todos los resultados dados. Veámoslo con un ejemplo.
    <br><br>
    Supongamos que quiero tirar 3 dados de 6 caras y quedarme con el resultado mayor de esas 3 tiradas, esto es lo que llamamos <b>tirada con ventaja</b> y eso se haría de la siguiente manera:
    <center><img class="dados" src="/assets/dados/ej-dados-2.png"></center>
    Tambien podemos hacer el caso contrario, que sería quedarnos con el número menor, conocido como <b>Tirada de desventaja</b>
    <center><img class="dados" src="/assets/dados/ej-dados-3.png"></center>
    Si no especificamos ni up ni low cuando vayamos a tirar varios dados, se trata de una <b>tirada normal</b>, y el resultdo final es la suma de todos ellos
    <center><img class="dados" src="/assets/dados/ej-dados-4.png"></center>

    <br>Pero esto no estodo, hay algo más que podemos que hacer con los dados y es añadirle un <b>modificador</b>, esto es que podemos añadirle o restarle una cantidad al resultado final, normalmente será por motivos inerentes al personaje, pero como aún no tenemos un sistema construído es bueno comentarlo para que sepan como utilizarlo. Esto sería varios ejemplos.
    <center><img class="dados" src="/assets/dados/ej-dados-5.png"></center>
    <center><img class="dados" src="/assets/dados/ej-dados-6.png"></center>

</p>

<div class="t2">Sistema de combate</div>
<br><br>
<p>
    La idea del sistema de combate será simple. Será un sistema “a tres toques” conocido por este nombre en rol. Funciona de la siguiente manera:
    <br><br>
    Cada contrincante narra un ataque de intenciones (lo que el personaje “intenta hacer”, muy distinto de “hacer”). Luego ambos se enfrentan tirando dados de "X" caras (que dependerá del rango del personaje), y quien saque mayor número tiene éxito en su “intención”, teniendo el que sacó menos narrar su fracaso seguida de su siguiente intención, y quien sacase mayor número deberá narrar con éxito su primera intención seguida de su nueva intención de ataque.     
    <ul>
        <li>Gana el primero que llegue a 3 toques, los cuales sólo se aplican con una diferencia mayor o igual a 7 en los dados.</li>
        <li>Aquel que saque menor número 3 veces seguidas, pierde automáticamente el combate. (hayan recibido toques o no)</li>
        <li>Empatar dos 20: Ambos se hacen un toque.</li>
        <li>Empatar cualquier número inferior a 20: Ambos narran un fracaso y ninguno recibe un toque.</li>
    </ul>
    Ejemplo:
    <code>
        PJ1: “narra su intención de ataque 1-1” → Tira dado, Resultado: 14<br>
        PJ2: “narra su intención de ataque 2-1” → Tira dado, Resultado: 7<br>
        <br><br>
        No se hace ningún toque.
        <br><br>
        PJ1: “narra su éxito y su nueva intención de ataque 1-2” → Tira dado, Resultado: 4<br>
        PJ2: “narra su fracaso y su nueva intención de ataque 2-2” → Tira dado, Resultado: 17<br>
        <br><br>
        PJ2 logra asestar un toque.
    </code>
<br><br>
Pero como se dijo antes, según el rango del personaje la cara con la que se tira el dado variará, así un Veterano no tendría la misma facilidad que un Profesor. Por ello, se tirará un dado distinto como se ve a continuación.
<br><br>
<!-- Neófito -->
Los modificadores se pueden deducir en base a los Puntos de Clase (PC).
<code>Mod = PC/10</code>
<center><table>
    <thead>
        <tr>
            <th style="padding: 2px 21px;">PC</th>
            <th style="padding: 2px 21px;">Mod</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>10</th>
            <th>+1</th>
        </tr>
        <tr>
            <th>20</th>
            <th>+2</th>
        </tr>
        <tr>
            <th>30</th>
            <th>+3</th>
        </tr>
        <tr>
            <th colspan="2">...</th>
        </tr>
    </tbody>
</table></p></center>

<h2>Dados de clase</h2>
<ul>
    <li>Neófito: 1d20</li>
    <li>Aprendiz : 1d25</li>
    <li>Veterano: 1d30</li>
    <li>Maestro: 1d35</li>
    <li>Profesor: 1d45</li>
</ul>



</p>

<!-- a -->
<%- include(`./partials/bot-part.html`) %>

