<%- include(`./partials/top-part.html`) %>
<h1>Creando al personaje</h1>
<div class="t2">La ficha</div><br>
Esto será una guía resumida de lo que deberá reflejar tu ficha como mínimo para ser aceptada. Sin embargo siempre puedes añadir más información de la indicada, ya sea raza, orientación sexual, etc, eso ya depende de cada quién.
<br><br><b>— Nombre y Edad</b>
<br><b>— Origen</b>: De otro mundo o de alguna región de Nerysium. 
<br><b>— Rango</b>: Tu rango de maestría dentro de la academia. Si eres profesor especificar materia que imparte <br>
<br><b>— Troncal</b>: Elegir entre asginatura de simpatismo o asignatura de hechicería (explicados en el mapa)
<br><b>— Materias favoritas</b>: (Sólo si eres alumno) Escoger 4. Son las asignaturas cuyas clases tu personaje no se perdería por nada del mundo.

<br><b>— Amparo</b>: El espíritu protector asignado. Como desarrollar la personalidad en la ficha es opcional, puedes hacer dos cosas:
<ul>
    <li>Desarrollar la personalidad y en base a ella la administración decidimos cual es el espíritu (y por tanto el clan) asignado.</li>
    <li>O mandarnos por MD a la administración <b>2</b> preferencias de tu espíritu protector, y de una de esas dos la administración escogería</li>
</ul>
<i>Estas dos elecciones no son excluyentes, aunque tengas desarrollada la personalidad puedes mandarnos dos preferencias si así lo deseas. Recuerda que el clan correspondiente a cada espíritu guardián están descritos en el mapa.</i>

<!--<ul>
    <li>El aventurero (Zanark)</li>
    <li>El crítico (Orion)</li>
    <li>El sutil (Cetus)</li>
    <li>El observador (Eridan)</li>
</ul>-->
<br><br>


<br><br><b>— Virtudes</b> 
<br><b>— Defectos</b>  

<br><br>
<i>Puedes poner tantas virtudes como quieras, pero por cada una que añadas se debe elegir un defecto.</i>

<br><br><b>— Personalidad</b> (opcional)
<br><b>— Trasfondo</b> (opcional)

<br><br>
<i>Aunque estas dos últimas sean opcionales es recomendable que tengas planteado incluirlas a la larga para conectar tu personaje mejor con la ambientación.</i>

<div class="t2">Censo</div><br>
Para tener una variedad dentro del fake controlamos que si existen muchos integrantes de un arqutipo no se abuse de este, por ello abrimos o cerramos rangos y clanes dependiendo de como esté el censo del mismo. Siempre decimos que queremos dar libertad, por ello seremos menos exigentes con el tema de los clanes, pero si que iremos cambiando más a menudo el tema de los rangos.
<br>
<center><a href="https://docs.google.com/document/d/1RysqIqJYUT2qoFJD90A-DSgoXLhAwEYn1SvlXrFVXaQ/edit?usp=sharing"><div class="button">Censo</div></a></center><br>

<%- include(`./partials/bot-part.html`) %>

