<%- include(`./partials/top-part.html`) %>
<h1>Comprendiendo mejor las materias</h1>
<p>Entendemos que una definición tan simple en sola una única frase para cada materia, como se definen en el mapa, puede llegar a quedarse corto, sobre todo con materias complejas de comprender como lo son el Simpatismo o la Nominación. Así, a simple vista no queda muy claro cuales son las limitaciones y alcances de cada una, lo que abarcan y cómo funcionan realmente. Cómo están conectadas las distintas materias y por qué hay que escoger entre simpatismo y hechicería y no se pueden cursar las dos en la academia de Narysium.</p>
<p>Primero que nada, veamos qué materias están más conectadas que otras, ya sea porque comparten la definción de algunos conceptos o ámbitos entre sí.</p>

<center><img class="materiasPic" src="/assets/materias.png"></img></center>

<div class="t2">Simpatismo</div>
<p>Manipula la materia a través de los vínculos inherentes en las cosas. Esto quiere decir que los magos basados en el simpatismo recurren a la energía de su entorno para realizar su magia, por eso dista de la hechicería donde se recurre a la propia energía para mutar la materia.</p>
<p>Sin embargo, alterar la materia en ambos casos tiene un coste. Mientras los hechiceros consumen su maná interno, los simpatistas necesitan hacer un intercambio físico en las cosas. Por poner unos ejemplos:</p>
<ul>
    <li>Para crear una llama se nececesitaría un brasero cercano del que obtener el calor (o incluso el calor del propio cuerpo). Cuanta más energía tenga, más calor se podrá extraer del mismo para crear llamaradas.</li>
    <li>Aprovechar la humedad del aire para concetrarlo en chorros de agua.</li>
    <li>Crear ráfagas de viento usando el aire de los pulmones.</li>
    <li>Trasladar la luz que se cuela por una grieta en una cueva para iluminar toda la estancia.</li>
    <li>Hacer levitar cosas manipulando otras.</li>
</ul>
<p>Como puedes comprobar, el límite de la Simpatía se encuentra en el entorno, si escaseas de los recursos necesarios en el entorno, por ejemplo, poca humedad, no podrás realizar simpatismo vinculado con el agua. En cuyo caso tendrías que recurrir al propio agua de tu cuerpo.</p>

<p>No obstante, date cuenta que del mismo modo que los recursos en el ambiente se consumen para ese intercmbio de energía lo mismo pasa con los recursos del propio cuerpo, por lo que estos casos suelen ser la última baza. Gastar toda la humedad del cuerpo puede llegar a matar a su usuario por deshidratación, gastar tu calor te hará sufrir hipotermia, gastar el aire de tus pulmones, asfixia.   </p>

<div class="t2">Hechicería</div>
<p>Más fácil de comprender que el simpatismo, pero más dificil de dominar en la práctica. Un simpatista no requiere concentración a la hora de establecer sus vínculos en los intercambios de energía, pudiendo realizar vínculos simpáticos (lo que serían conjuros en hechicería) al mismo tiempo que se utilizan otras habilidades físicas.<br><br> Sin embargo, los hechiceros necesitan una alta concentración para mantener sus hechizos o encantamientos. <br><br>Es por esto que aquellos entregados al combate físico casi siempre se decantan por una combinación con el simpatismo, mientras que los hechiceros son más dados a la erudición, aunque no necesariamente siempre tenga que ser así.</p>
<p>Para conjurar su magia, los hechiceros utilizan un recurso interno denominado "maná". Un recurso que, como la energía que maneja el simpatismo, no es infinito y puede llegar a consumirse. Tienen más fácil la labor de alterar los elementos en distintos medios como: Crear lluvias en mitad de una sequía, congelar cortinas de fuego sin pensar en disipar el calor como lo haría el simpatista, crear bolas de fuego en mitad de Ul'gurd. Sin embargo, el riesgo que supone gastar ese maná es más peligroso que en el simpatismo.</p>
<p>Gastar el maná, agota. Es como hacer ejercicio, y es la razón por la que agota el doble cuando se junta Maref y conjuros. Sólo los hechiceros más poderosos son capacer mantenerse inalterables.</p>
<p>Una vez va llegado al límite del maná se va perdiendo consciencia de sí mismo, pudiendo llegar a la muerte. Quienes se acercan demasiado al límite en ocasiones sufren impedimentos crónicos en su sistema motriz, en el habla, pudiendo llegar incluso a afectar el intelecto.</p>

<p><i>Los hechiceros al igual que los simpatistas pueden usar contendores de magia para suplir sus límites: El simpatismo guarda la energía que necesita (focos de calor concentrado, focos de agua, etc) y el hechicero guarda el maná que necesite. Sin embargo requieren de la rama de runología para poder hacer dichos contendores.</i></p>
<%- include(`./partials/bot-part.html`) %>

