<%- include(`./partials/top-part.html`) %>
    <h1>Lista de miembros</h1>
    <center><div class="button bactualizar">Actualizar</div></center><br>
    <div id="memberlist">
        
        <table id="example" class="table table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <th>Cuenta</th>
                    <th>FC</th>
                    <th>Rango</th>
                    <th>Habitac.</th>
                    <th>Activ.</th>
                </tr>
            </thead>
            <tbody>
            <% if(members) Object.values(members).map((ix,it) => { %>
                <tr>
                    <td><%= ix["name"] %></td>
                    <% if(fcs[ix["name"]]) { %>
                        <td><%= fcs[ix["name"]] %></td>
                    <% } else { %>
                        <td></td>  
                    <% } %> 

                    <% if(datos[ix["name"]]) { %>
                        <% console.log(datos[ix["name"]]) %>
                        <td><%= datos[ix["name"]]["rango"] %></td>
                        <td><%= datos[ix["name"]]["hab"] %></td>
                    <% } else { %>
                        <td></td>  
                        <td></td>
                    <% } %> 
                    
                    <% if(ix["status"] == "activo") { %>
                        <td style="background-color:#a9d8a9"><%= ix["dhm"] %> días</td>
                    <% } else { %>
                        <td style="background-color: #dac09c;"><%= ix["dhm"] %> días</td>
                    <% } %>     
                </tr>
            <% }) %>  
            </tbody>
        </table>
        

    </div>
    
    <script defer>
    $(".bactualizar").click(() => {
        fetch('/statususer');
    });  
    $(document).ready(() => {
        $('#example').DataTable({ 
            "language": { 
                "sProcessing": "Procesando...", 
                "sLengthMenu": "Mostrar _MENU_ registros", 
                "sZeroRecords": "No se encontraron resultados", 
                "sEmptyTable": "Ningún dato disponible en esta tabla", 
                "sInfo":   "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", 
                "sInfoEmpty":  "Mostrando registros del 0 al 0 de un total de 0 registros", 
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", 
                "sInfoPostFix": "", 
                "sSearch":  "Buscar:", 
                "sUrl":   "", 
                "sInfoThousands": ",", 
                "sLoadingRecords": "Cargando...", 
                "oPaginate": { 
                "sFirst": "Primero", 
                "sLast": "Último", 
                "sNext": `<i class="fas fa-angle-right"></i>`, 
                "sPrevious": `<i class="fas fa-angle-left"></i>` 
                }
            }
    });
});
    
    </script>
<%- include(`./partials/bot-part.html`) %>

