<%- include(`./partials/top-part.html`) %>
    <h1>Lista de miembros</h1>
    <center><div class="button">Actualizar</div></center><br>
    <div id="memberlist">
        
        <table id="example" class="table table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <th>Cuenta</th>
                    <th>FC</th>
                    <th>Activ.</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
            <% Object.values(data).map((ix,it) => { %>
                <tr>
                    <td><%= ix["name"] %></td>
                    <td></td>
                    <td><%= ix["dhm"] %> días</td>
                    <% if(ix["status"] == "activo") { %>
                        <td style="background-color:#a9d8a9"><%= ix["status"] %></td>
                    <% } else { %>
                        <td style="background-color: #dac09c;"><%= ix["status"] %></td>
                    <% } %>
                    
                </tr>
            <% }) %>  
            </tbody>
        </table>
        

    </div>
    
    <script defer>
    $(".button").click(() => {fetch('/statususer').then(location.reload());});  
    $(document).ready(function() {
    $('#example').DataTable();
    });
    </script>
<%- include(`./partials/bot-part.html`) %>

